<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
     <text>FAIL!</text>
     <form action="/login" method="GET">
        Create:<br>
        <input type = "submit" value="Goback">
        </form>
        <form action="/search" method="GET">
            Search:<br>
            <input type = "submit" value="Goback">
        </form>
        <form action="/update" method="GET">
            Update:<br>
            <input type = "submit" value="Goback">
        </form>
        <form action="/delete" method="GET">
            Delete:<br>
            <input type = "submit" value="Goback">
        </form>
</body>
</html>